extends ../layout

block title
  | List articles

block content
    div.container-fluid
        div.row-fluid
            div.span2
            div.span10
                - d = new Date()
                - n = d.getHours()
                if n < 7
                    div.alert.alert-danger
                        | Заказ невозможен. Заказ обедов производится в период 07:00 - 10:00
                else if  n >= 10
                    div.alert.alert-danger
                        | Заказ невозможен. Заказ обедов производится в период 07:00 - 10:00
                else
                div.hero-unit
                    h1(style="color: #b94a48") Заказ обедов
                    h2(style="text-align: center") производится в период 07:00 - 10:00