extends ../layout

block title
  | List bids

block content
  
  each bid in bids
  
    .container
      .row
        .span12
          h1=bid.title
      .row
        .span2
          small
            p 
              b Published
              br
              != dateShortMon(bid.createdAt)