extends base

block title
    | Order
block main

  - d = new Date()
    - n = d.getHours()
    if n < 7
        div.alert.alert-danger
            | Заказ невозможен. Заказ обедов производится в период 07:00 - 10:00
    else if  n >= 10
        div.alert.alert-danger
            | Заказ невозможен. Заказ обедов производится в период 07:00 - 10:00
    else
    div.hero-unit
        h1 Оформление заказа
    if message != ''
        .alert.alert-notice
            a.close(data-dismiss="alert", href="javascript:void(0)") x
            | #{message}
    h4 Частник:
    ul
        li +7-904-4426474
    h4 Абсолют:
    ul
        li тел: 312-112
        li тел/факс: 312-480
    div(style='margin: 0').span7
        table(style="text-align: left").table.table-striped.tabor#tableOrder
            caption
                | Заказ для
                strong  Абсолют
            tr
                th(style='text-align:center; vertical-align: middle') Стол №
                th(style='text-align:center; vertical-align: middle') Имя
                th(style='text-align:center; vertical-align: middle') Блюдо
                th(style='text-align:center; vertical-align: middle') Кол-во
                th(style='text-align:center; vertical-align: middle') Время
                if req.user.username == "admin"
                    th(style='color: #b94a48; text-align: center') Удалить
            each order in orders
                tr
                    td= order.dish.length
                    td= order.username
                    - i = 0
                    td(style='padding-top: 15px; padding-bottom: 15px')
                        while i < order.dish.length
                            -n = order.dish.length - 1
                            if i != n
                                = order.dish[i]
                                hr
                            else
                                = order.dish[i]
                            -i++
                    - k = 0
                    td(style='padding-top: 15px; padding-bottom: 15px')
                        while k < order.quantity.length
                            -m = order.quantity.length - 1
                            if k != m
                                = order.quantity[k]
                                hr
                            else
                                = order.quantity[k]
                            -k++
                    - j = 0
                    td(style='padding-top: 15px; padding-bottom: 15px')
                        while j < order.time.length
                            - b = order.time.length -1
                            if j != b
                                = order.time[j]
                                hr
                            else
                                = order.time[j]
                            -j++
                    if req.user.username == "admin"
                        td(style='color: #b94a48; text-align: center')
                            a(href="/delOrder/#{order._id}/del") X

    div(style='padding-top: 20px').span3
        if req.user.username == "admin"
            a(href='/order/new' style='color: #b94a48') New Order
            br
            a(href='/order/delAll' style='color: #b94a48') Delete all Order
